**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/.env
**/.env.local
**/secrets.json
**/node_modules
**/.angular
**/.next
**/out
**/.nuxt
**/.cache
**/.vuepress/dist
**/.serverless/
**/.fusebox/
**/.dynamodb/
**/.tern-port
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.pnpm-debug.log*
**/test-results
**/coverage
**/*.log
FixIt.Mobile/

FixIt.Mobile.Tests/
