@page
@model PrivacyModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["PrivacyPolicy"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["UseThisPagePagePrivacy"]</p>
